#tomatobutton{
    width: 100%;
    height: 10%;
    display: block;
    position: fixed;
    bottom: 0;
    padding: 3% 0;
}
#addtaskbutton{
    display: block;
    position: fixed;
    margin: 1%;
    bottom: 10%;
    right: 0;
}
body{
    background-color: #b2dfdb;
}
#headinfo{
    
    width: 70%;
    height: 25%;
    background-color: #e0f2f1;
    border-radius: 35px;
    margin: auto;
    margin-top: 8%;
    min-height: 33px;
}
#bodyinfo{
    
    width: 70%;
    height: 55%;
    min-height: 66px;
    background-color: #e0f2f1;
    border-radius: 35px;
    margin: auto;
    margin-top: 5%;
}
#userinfo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: url(images/mainhead.jpg);
    background-size: cover;
    font-family: "EurofurenceRegular";
    z-index: 1;
}
#bodyinfo p{
    padding: 2% 4%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;

}
#headinfo p{
    padding: 2% 4%;
    font-size: 18px;
    font-weight: bold;
}
#tasks{
    margin-top: 50%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

}
.taskitem{
    width: 90%;
    height: 25%;
    background-color: #80cbc4;
    border-radius: 35px;
    margin: auto;
    margin-top: 2%;
    min-height: 100px;
}
.taskitem p{
    padding: 2% 4%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.fireicon{
    position: absolute;
    margin-left: 84%;
    width: 30px;
    height: 30px;
    z-index: 0;
}
#registration{
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    z-index: 2;
    visibility: hidden;
}
#regwindow{
    position: fixed;
    top: 20%;
    left: 15%;
    bottom: 40%;
    right: 15%;
    background-color: #e0f2f1;
    border-radius: 0 20px;
    padding: 10%;
}
#confirmadd{
    position: absolute;
    bottom: -15%;
    right: 0;
}
#taskimportant{
    z-index: 5;
}
#taskimportant{
    -webkit-appearance: checkbox;
    -webkit-font-smoothing: antialiased;
    resize: none;
}
.btn-small{
    position: absolute;
    margin-top: 25%;
    margin-left: 77%;
}
@font-face {
    font-family: "EurofurenceRegular"; 
    src: url("fonts/EurofurenceRegular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 